<div style="display: inline-block;">
  <div class="drow">
    <div class="dcell" style="padding-right: 20px;">
      Simple Comment Version <b><%= " #{ApplicationController::VERSION_SC}" %></b>
    </div>
    <div class="dcell" style="padding-right: 20px;">
      &copy;<%= "Joerg Kirschstein" %>
    </div>
    <div class="dcell">
      <%= link_to 'sc @ Github', 'http://www.github.com/frontimax', :target => '_blank' %>
    </div>
  </div>
</div>
