<div>
  <h2>Simple Comment Demo App</h2>
</div>

<div class="drow">
  <div class="dcell">
    <%= link_to 'Show Articles', articles_path %>
  </div>
  <div class="dcell">
    <%= link_to 'Show Users [Admin only]', users_path %>
  </div>
  <div class="dcell">
    <%= link_to 'Show Inactive Articles [Admin only]', articles_inactive_path %>
  </div>
  <div class="dcell">
    <%#= link_to 'Show Comments', comments_path %>
  </div>
</div>
